<h3 class="ui center aligned container">Edit Your - <em> Profile </em> </h3>
<h4 class="ui center aligned medium icon header">
  <i class="circular blue steam symbol icon"></i>
  Edit your settings
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= render 'form' %>
    </div>
    <div class="middle aligned column">

              <%= link_to 'Delete Account', user_path, class: "ui red submit button", method: :delete, onclick: "return confirm('Are you sure?')"  %>

    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
