<h3 class="ui center aligned container">Welcome to message me - <em> a complete Chat App </em> </h3>
<h4 class="ui center aligned medium icon header">
  <i class="circular blue themeisle icon"></i>
  Create new user to continue

</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed unstackable grid">
    <div class="ui middle aligned column">
      <%= link_to 'Login', login_path, class: "ui blue submit button" %>
    </div>
    <div class="middle aligned column">
      <div class="column">
        <%= render 'form' %>
      </div>

    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
