@import 'semantic-ui';

.chatbox {
  height: 450px;
}

#messages {
  height: 15em;
  overflow: auto;
}


.ui.footer {
  background-color: #212121;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
}
