<div class="ui inverted vertical footer segment">
  <div class="ui container center aligned">
    Ruby -v 2.6.10   /   Rails -v 5.2.8.1   /   Semantic-UI Front End
    &nbsp&nbsp&nbsp<a href="https://www.linkedin.com/in/fabian-martinez-02589a80/"><i class="linkedin square icon big"></i></a>
  </div>
</div>
