<%= link_to "Chatroom", root_path, class:"item" %>
<a class="item">Messages</a>
  <div class="right menu">
       <div class="ui simple dropdown link item">
            <span class="text">Account</span>
            <i class="dropdown icon"></i>


              <div class="menu">

                  <%= link_to "Login", login_path, class:"item" %>
                  <div class="divider"></div>
                  <div class="item">Logout</div>
              </div>
      </div>
      <a class="item"><div class="ui primary button">Logout</div></a>
      <a class="item"><div class="ui primary button">Signup</div></a>
  </div>
